<h1>Добро пожаловать</h1>

<p><%= link_to 'Поезда', admin_trains_path %></p>
<p><%= link_to 'Пути', admin_routes_path %></p>
<p><%= link_to 'Станции', admin_railway_stations_path %></p>
<p><%= link_to 'Вагоны', admin_carriages_path %></p>