<p>Привет <%= @user.email %></p>

<p> Вы купили билет по маршруту "<%= @ticket.route_name %>"</p>
<br>
<p>Посмотреть билет <%= link_to "здесь",tickets_url%></p>
<p>Все билеты <%= link_to "здесь", tickets_url %></p>